<div class="card">
    <div class="card-body">
        <h1>Bienvenido</h1>
        <p>Este aplicativo emula el sistema de un parqueadero.</p>
        <p>Ingresa al apartado de Vehículos en la barra de navegación para iniciar las funcionalidades.</p>
    </div>
</div>
<br>
<h4>Esta aplicación Web, tiene las opciones de: </h4>
<br>
<div class="card-deck">
    <div class="card bg-success">
        <div class="card-body text-center">
            <b><p>Ingresar</p></b>
            <p class="card-text">Mediante esta opción se puede ingresar un vehículo con sus datos pertinentes a la base de datos
            </p>
        </div>
    </div>
    <div class="card bg-warning">
        <div class="card-body text-center">
            <b><p>Actualizar</p></b>
            <p class="card-text">Mediante esta opción se puede actualizar los datos de un vehículo ya ingresado.
            </p>
        </div>
    </div>
    <div class="card bg-info">
        <div class="card-body text-center">
            <b><p>Buscar</p></b>
            <p class="card-text">Mediante esta opción se puede buscar un vehículo mediante su placa correspondiente.
            </p>
        </div>
    </div>
    <div class="card bg-danger">
        <div class="card-body text-center"><b>
            <p>Eliminar</p></b>
            <p class="card-text">Mediante esta opción se puede eliminar un vehículo, una vez haya salido del parqueadero.
            </p>
        </div>
    </div>
</div>